release-test/src/main/wsdl/FluxSalesMessageReceiverBean.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:xeu:bridge-connector:wsdl:v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns2="http://schemas.xmlsoap.org/soap/http"
	xmlns:ns1="urn:xeu:bridge-connector:v1" name="SalesService"
	targetNamespace="urn:xeu:bridge-connector:wsdl:v1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:xeu:bridge-connector:v1"
			elementFormDefault="qualified"
			targetNamespace="urn:xeu:bridge-connector:v1" version="1.0">
			<xs:element name="Connector2BridgeRequest"
				type="tns:RequestType" />
			<xs:element name="Connector2BridgeResponse"
				type="tns:ResponseType" />
			<xs:complexType name="RequestType">
				<xs:sequence>
					<xs:any namespace="##other" processContents="skip" />
				</xs:sequence>
				<xs:attribute name="ON" type="xs:string" use="required" />
				<xs:attribute name="AD" type="xs:string" use="required" />
				<xs:attribute name="TODT" type="xs:dateTime" />
				<xs:attribute name="DF" type="xs:string" use="required" />
				<xs:attribute name="AR" type="xs:boolean" />
				<xs:attribute name="TO" type="xs:int" />
				<xs:attribute name="CT">
					<xs:simpleType>
						<xs:list itemType="xs:string" />
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="VB" type="tns:VerbosityType" />
				<xs:anyAttribute namespace="##other"
					processContents="skip" />
			</xs:complexType>
			<xs:complexType name="ResponseType">
				<xs:sequence>
					<xs:element name="Status" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="VerbosityType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="error" />
					<xs:enumeration value="warn" />
					<xs:enumeration value="info" />
					<xs:enumeration value="debug" />
					<xs:enumeration value="none" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="post">
		<wsdl:part element="ns1:Connector2BridgeRequest"
			name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="postResponse">
		<wsdl:part element="ns1:Connector2BridgeResponse"
			name="output"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BridgeConnectorPortType">
		<wsdl:operation name="post">
			<wsdl:input message="tns:post" name="post"></wsdl:input>
			<wsdl:output message="tns:postResponse"
				name="postResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SalesServiceSoapBinding"
		type="tns:BridgeConnectorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="post">
			<soap:operation
				soapAction="urn:xeu:bridge-connector:wsdl:v1:post" style="document" />
			<wsdl:input name="post">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="postResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SalesService">
		<wsdl:port binding="tns:SalesServiceSoapBinding"
			name="BridgeConnectorPortType">
			<soap:address
				location="http://wildfly:8080/unionvms/flux-sales-plugin/SalesService/FluxMessageReceiverBean" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>